CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y

#########################################################
# Ua2f 校园网相关
CONFIG_PACKAGE_ua2f=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-filter=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iptables-mod-nfqueue=y
CONFIG_PACKAGE_iptables-mod-u32=y
# Ip
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_kmod-ipt-filter=y
CONFIG_PACKAGE_kmod-ipt-ipopt=y
CONFIG_PACKAGE_kmod-ipt-nfqueue=y
CONFIG_PACKAGE_kmod-ipt-u32=y
CONFIG_PACKAGE_kmod-nfnetlink-queue=y
# End Uaf
#########################################################

# 中文
CONFIG_LUCI_LANG_zh_Hans=y

# 多线多拨
CONFIG_PACKAGE_luci-app-syncdial=y

# 启用Swap
CONFIG_KERNEL_SWAP=y

#提高路由转发效率
# CONFIG_DEFAULT_luci-app-flowoffload=y

# 多文件系统支持
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=y
CONFIG_PACKAGE_kmod-fs-nfs-v3=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_kmod-fs-nfsd=y
CONFIG_PACKAGE_kmod-fs-squashfs=y

#luci-app-SFE转发加速引擎
# CONFIG_DEFAULT_luci-app-sfe=y
# CONFIG_DEFAULT_luci-app-filetransfer=y
# CONFIG_PACKAGE_luci-i18n-filetransfer-zh-cn=y
# CONFIG_PACKAGE_luci-i18n-sfe-zh-cn=y
